/* Font face from https://fonts.google.com/specimen/Roboto+Mono */
@font-face {
font-family: "Roboto";
src: url("font/RobotoMono-Regular.ttf") format("truetype");
font-weight: normal;
font-style: normal;}

* {
box-sizing: border-box;}

html, body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
overflow: hidden;
font-family: Verdana, sans-serif;
font-size: 16px;
line-height: 150%;}

#canvas-layer {
position: absolute;
top: 0;
left: 0;
z-index: 1;
width: 100%;
height: 100%;
background-color: transparent;}

#turtle-layer {
position: absolute;
top: 0;
left: 0;
z-index: 2;
width: 100%;
height: 100%;
background-color: transparent;}

#blockly-layer {
position: absolute;
top: 0;
left: 0;
z-index: 3;
width: 100%;
height: 100% !important;}

#blockly-layer svg {
background-color: transparent !important;}